# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
  
variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet restore
  displayName: 'Restoring packages'
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'Building application'
- task: DotNetCoreCLI@2
  displayName: 'Running tests'
  inputs:
    command: test
    arguments: '--configuration $(buildConfiguration) --logger trx --collect "Code coverage"'
- task: PublishTestResults@2
  inputs:
    testRunner: VSTest
    testResultsFiles: '**/*.trx'